

body{
    margin: 0;
    overflow: hidden;
    font-family: 'Permanent Marker', cursive;
}
*{
    box-sizing: border-box;
    padding: 0;
}
#home{
    height: 100vh;
    overflow: hidden;
    position: relative;
}

#home .slide{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: 1;
    display: none;
    padding: 0 15px;
    animation: slide 2s ease;
    box-shadow: 30px 30px 30px 30px black;
}
#home .slide.active{
    display: flex;
}
@keyframes slide{
    0%{
        transform:scale(1.1);
    }
    100%{
        transform:scale(1) ;
    }
}

#home #controls #prev, #home #controls #next{
    position: absolute;
    z-index: 2;
    top: 50%;
    height: 50px;
    width: 50px;
    margin-top: -25px;
    color: #ffffff;
    background-color: #000000;
    text-align: center;
    border-radius: 50%;
    line-height: 50px;
    font-size: 20px;
    cursor: pointer;
    transition: all .5s ease;
}
#home #controls #prev:hover, #home #controls #next:hover{
    background-color: #ffffff;
    color: #000000;
}
#home #controls #prev{
    left: 0;
}
#home #controls #next{
    right: 0;
}
#home #balls-indicator{
	position: absolute;
	left:50%;
	bottom:30px;
	z-index: 2;
    transform: translateX(-50%);
    cursor: pointer;
}

#home #balls-indicator div{
	display: inline-block;
	width:25px;
	height: 25px;
	color:#ffffff;
	background-color: #000000;
	border-radius:50%;
	text-align: center;
	line-height: 25px;
	margin:0 3px;
}

#home #balls-indicator div.active{
 background-color: #ffffff;
 color: #000000;
}